/* Reset default browser styles */
body {
    font-family: "Poppins", sans-serif;
    color:#333;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}



/* Styles for the typing animation */
#typing-text {
    font-family: "Poppins", sans-serif;
    font-stretch: expanded;
    font-weight: 100;
    font-size: 39px;
    opacity: 0;
}

/* Navbar styles */
.navbar {
    position: fixed;
    /* Fixed position at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.navbar ul {
    font-family: "Poppins", sans-serif;
    font-stretch: expanded;
    font-weight: 100;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.navbar.visible {
    opacity: 1;
}

.navbar1 {
    position: fixed;
    /* Fixed position at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 1;
    margin-bottom: 40px;
}

.navbar li {
    margin: 0 10px;
}
.navbar a {
    font-family: "Poppins", sans-serif;
    font-stretch: expanded;
    font-weight: 100;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    position: relative; /* Add position relative */
}
.navbar a {
    font-family: "Poppins", sans-serif;
    font-stretch: expanded;
    font-weight: 100;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    position: relative; /* Add position relative */
    overflow: hidden; /* Hide overflow */
}

.navbar a:hover {
    color: white;
    text-decoration: none;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Initially set width to 0 */
    height: 100%;
    background-color: #8B0000;
    z-index: -1; /* Ensure the pseudo-element is behind the text */
    transition: width 0.3s ease; /* Add transition effect */
}

.navbar a:hover::after {
    width: calc(100% - 5px); /* Expand the background color on hover */
}

/* Add this to your stylesheet.css file */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Add this to your stylesheet.css file */

.container {
    position: relative;
}

.two-columns {
    display: flex;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

.button-passion {
    border-radius: 50px;
    border: 0;
    width: 170px; /* Fixed width for all buttons */
    margin: 10px;
    background-color: rgb(7, 7, 66);
    color: white;
    padding: 15px 30px; 
    font-style: bold;
    font-stretch: expanded;
    transition: transform 0.3s ease; /* Add transition for transform */
}

.button-passion:hover {
    transform: scale(1.1); /* Increase scale on hover */
    background-color: #8B0000;
    cursor: pointer;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.portfolio-image-container {
    margin-bottom: 20px;
    /* Adjust as needed */
}

.portfolio-text-container {
    margin-bottom: 20px;
    /* Adjust as needed */
}

.portfolio-text-container2 {
    margin-top: 20px;
    /* Adjust as needed */
}

.portfolio-text,
.portfolio-text2 {
    color: #333;
    /* Adjust text color as needed */
    font-size: 18px;
    /* Adjust font size as needed */
}

.portfolio-text-container2 {
    margin-bottom: 40px;
    /* Add some margin to separate it from the previous content */
}

.portfolio-text-container2 {
    /* Set the height to your desired value */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
}

.portfolio-container-culumn4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.portfolio-container-column2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.container-projects {
    margin: 15px;
    text-align: center;
    width: 260px;
    min-height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    overflow: hidden;
    /* Ensure content doesn't overflow */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.img-projects {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease;


}
.img-projects:hover {
    transform: scale(1.1);

}





.column-text {
    margin-top: 10px;
    /* Adjust as needed */
    max-width: 100%;
    /* Ensures text does not extend beyond image width */
    transition: color 0.3s ease-in-out, 


}


.column-text:hover { 
    color:#8B0000;
}




.portfolio-text-container3 {
    display: flex;

    align-items: flex-start;
    margin: 0 auto;
    align-items: center;
    /* Align items to the top */
}

.portfolio-container-form {
    margin: 0 auto;
    align-items: center;
    width: 100%;
    /* Adjust as needed */

}

.container-form {
    margin-top: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(7, 7, 66);
}

a:hover {
    text-decoration: underline;
    color: #8B0000
}

.container-heading {
    margin: o auto;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* featured-showcase items */

.featured-container {
    margin: 0px auto;
    align-self: center;
    text-align: center;
    display: block;
    justify-content: center;
    
}

.featured-line {
    margin: 40px auto;
    background-color:rgb(0, 0, 0);
    height: 2px;
    width: 40%;
    padding: 0px;
}

.featured-buttons {
    padding: 2px 1px;
    margin: 10px 0px;
   
}

.featured-buttons button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 66);
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 3px;
}

.featured-buttons button:hover {
    background-color: rgb(211, 219, 225);
    color: rgb(0, 0, 0);
}

    .featured-showcase {
        display: none; /* Hide all divs by default */
        opacity: 0; /* Set initial opacity to 0 */
        transform: translateX(40px); /* Move the div 40px to the right */
        visibility: hidden; /* Hide the divs */
        transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out; /* Add transition for opacity */
    }

    .show {
        display: block; /* Show the div */
        visibility: visible; /* Make the div visible */
        opacity: 1; /* Set opacity to 1 */
        transform: translateX(0); /* Move the div to its original position */
        animation: slideLeft 0.5s ease-in-out; /* Apply the slide left animation */
        transition-delay: 0s; /* Remove transition delay for opacity */
    }

    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(40px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }


.comp-container {
    margin: 0 auto;
    display: flex;
    width: 60%;
    height: auto;

}

.comp-img img {
    padding-top: 20px;
    width: 300px;
    height: auto;
}

.padding-spacer {
    height: 309px;

}

.comp-container button {
    display: flex; /* Use flexbox */
    justify-content: flex-start; 
    margin-left: 50px;
    padding-left: 38px;
    text-align: center;
}

.text-content p, h1 {
 text-align: left;
 margin-left: 30px;
}
.text-content h1 {
 margin-left: 45px;
}

.spacer {
    height: 50px;
    width: auto;
}
/* form */
.container-form {
    width: 45%;
    margin-bottom: 20px;

}

.img-container1 {
    position: relative;
}

.img-projects1 {
    max-width: 100%;
    height: auto;
}

.footer-basic footer {
    text-align: center;
}

.footer-basic .social a {
    display: inline-block;
    margin: 0 10px;
}

.footer-basic .list-inline {
    margin-top: 20px;
}

.footer-basic .copyright {
    margin-top: 20px;
}

.social-icons {
    width: 40px;
    height: auto;

}

.container-heading {
    margin-top: 100px;
}

.container-ct-form {
    margin-top: 40px;
}

.contact-img {
    width: 100%;
    position: relative;
}

.about-container {
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-stretch: expanded;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

p {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container-centered,
.container-heybassh {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.container-heybassh {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.img-size {
    width: 85%;
    padding: 5px;
    margin-left: 10%;
}

.img-size1 {
    width: 85%;
    padding: 5px;
    margin-left: 0px;
    margin-right: 10%;
}

.image-container {
    overflow: hidden;
    /* Ensures the image won't overflow its container */
    width: 500px;
    height: 350px;
    margin: 0 auto;
    justify-content: center;

}

.image-container img {
    width: 100%;
    /* Make the image fill the container */
    transition: transform 0.3s;
    /* Add smooth transition effect */
}

.image-container:hover img {
    transform: scale(1.2);
    /* Zoom in on hover */
}

.align-left {
    text-align: left;
    margin: 0 auto;
}

.align-left1 {
    text-align: left;
    margin: 0 auto;
    padding-right: 10%;
    margin-left: 10%;
}

/* WordPress Page */
.heading-section {
    margin: 0 100px;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
    .overlay-text {
        font-size: 16px;
        /* Adjust font size for smaller screens */
        padding: 10px;
        /* Add padding for better readability */
    }

    .container-heading {
        margin-top: 40px;
    }
}


/* Adjust styles for smaller phones */
@media screen and (max-width: 480px) {
    .overlay-text {
        font-size: 14px;
        /* Further reduce font size for smaller phones */
        padding: 8px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        /* Further increase padding for better readability */
    }
}